.container {
   padding-top: 2em;
}

.circle {
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}

  .fab {
      color: orange;
  }
 